@using QnSContactManager.AspMvc.Modules.Session
@model IEnumerable<QnSContactManager.AspMvc.Models.Persistence.App.Contact>

@{
    ViewData["Title"] = "Index";
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}

<h1>Index</h1>

@if (sessionWrapper.IsAuthenticated)
{
<div class="d-flex bg-transparent">
    <div class="mr-auto p-sm-2">
        <a asp-action="Create" asp-controller="Contact" class="btn btn-outline-secondary">@translate("Create New")</a>
    </div>
    <div class="p-sm-2">
        <a asp-action="Export" asp-controller="Contact" class="btn btn-outline-secondary">@translate("Export")</a>
    </div>
    <div class="p-sm-2">
        <a asp-action="Import" asp-controller="Contact" class="btn btn-outline-secondary">@translate("Import")</a>
    </div>
</div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Addresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (sessionWrapper.IsAuthenticated)
                    {
                        @Html.ActionLink(translate("Edit"), "Edit", "Contact", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink(translate("Details"), "Details", "Contact", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink(translate("Delete"), "Delete", "Contact", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
